.navBar {
  margin: 0;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.logo {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.navButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  gap: 10px;
}

.navButtons > li > button {
  background-color: #FFE53B;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.navButtons > li > button:hover {
  transform: scale(1.2);
}
