img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

h2,
p {
  margin: 0;
  color: white;
  font-size: 18px;
  text-transform: capitalize;
}

.link {
  text-decoration: none;
  color: black;
}

.card {
  padding: 1% 40%;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  border-radius: 15px;
  box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.2);
}

.typeCardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.typeCard {
  margin: 10px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 8px;
  text-align: center;
}

@media only screen and (min-width: 1025px) {

  .card {
    padding: .5% 5%;
  }
}
