span {
  text-align: center;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.paginationButton {
  padding: 0.2em;
  box-shadow: 15px 15px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #000000;
  cursor: pointer;
  transition: 0.2s;
}

.paginationButton:hover {
  transform: scale(1.2);
}
