article {
  padding: 5em 10em;
}

article > button {
  position: relative;
  top: 50px;
  left: 150px;
  background-color: #FFE53B;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
}

span > img {
  width: 100%;
  max-width: 25px;
  height: auto;
}

.cardContainer {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-flow: row wrap;
}

.filterContainters {
  margin: 0.2em;
  padding: 0 0 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

@media only screen and (min-width: 1025px) {

  article > button {
    position: relative;
    top: 50px;
    left: 500px;
  }
}
