article {
  padding: 5em 10em;
}

article > button {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior de la pantalla */
  right: 20px; /* Ajusta la distancia desde el lado derecho de la pantalla */
  background-color: #FFE53B;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid black;
  transition: 0.2s;
}

article > button:hover {
  transform: scale(1.2);
}

span > img {
  width: 100%;
  max-width: 25px;
  height: auto;
}

.cardContainer {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  flex-flow: row wrap;
}

.filterContainters {
  margin: 0.2em;
  padding: 0 0 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
