h1 {
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

.landingPage {
  margin: 5px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.buttonLanding {
  margin: 5px;
  padding: 8px;
  border-style: none;
  border-radius: 10px;
  background-color: #ffb703;
  text-transform: capitalize;
  font-size: large;
  font-weight: 300;
  cursor: pointer;
  transition: 0.2s;
}

.buttonLanding:hover {
  transition: 0.2s;
  border: 4px groove red;
}
